body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 37px;
  font-weight: 300;
}
h2 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}
h3 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
p {
  margin-bottom: 15px;
  color: #9ea8a4;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
}
.button {
  display: inline-block;
  padding: 14px 26px;
  background-color: #c25b18;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #b5b5b5;
}
.header {
  height: 530px;
  background-color: #ffa600;
  background-image: -webkit-linear-gradient(rgba(51, 51, 51, 0.52), rgba(107, 107, 107, 0.52) 35%, white 94%), url('../images/desktop-small.png');
  background-image: linear-gradient(rgba(51, 51, 51, 0.52), rgba(107, 107, 107, 0.52) 35%, white 94%), url('../images/desktop-small.png');
  background-position: 0% 0%, 0px 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  box-shadow: black 0px 3px 0px 0px inset;
}
.header.sub-page {
  background-image: url('../images/profile-dude-blue.jpg');
  background-position: 50% 100%;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
}
.section.grey {
  background-color: #525252;
}
.section.green {
  background-color: #fcf8f5;
}
.nav-link {
  display: block;
  margin-bottom: 8px;
  font-family:'Roboto Condensed', sans-serif;
  color: #32a879;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-link:hover {
  color: #166bcc;
}
.navigation {
  position: absolute;
  z-index: 10;
  padding: 33px 19px 38px;
  border-top: 3px solid #c25b18;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.00) 0px 0px 0px 1px;
}
.logo {
  padding-top: 8px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #c25b18;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
.align-right {
  padding-right: 25px;
  text-align: right;
}
.image {
  margin-bottom: 20px;
}
.thumbnail {
  margin-right: 21px;
  margin-bottom: 26px;
  padding: 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px;
}
.journal-entry {
  display: block;
  margin-bottom: 19px;
  padding: 18px 20px;
  border: 1px solid #dce6e4;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #333;
  text-decoration: none;
}
.journal-entry:hover {
  background-color: #f2f7f6;
}
.logo-link {
  color: #333;
  text-decoration: none;
}
.logo-link.w--current {
  max-width: 120px;
}
.field {
  height: 53px;
  border: 1px solid #d1e6dd;
  box-shadow: transparent 0px 1px 0px 0px inset;
}
.field:focus {
  border-color: #24c786;
  box-shadow: transparent 0px 0px 8px 0px inset;
}
.field.comments {
  height: 101px;
}
.success {
  padding: 47px;
  background-color: #e3e3e3;
  color: black;
  text-align: center;
}
.contact-buttons {
  display: block;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  color: white;
}
.contact-link {
  margin-right: 67px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.legal {
  padding-top: 20px;
  color: #a8a8a8;
  text-align: center;
}
.logo-image {
  max-width: 125px;
}
.slide-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 466px;
}
.slider-main {
  overflow-x: visible;
  overflow-y: visible;
  height: 500px;
}
.footer {
  text-align: center;
}
.footer-img {
  max-width: 30%;
  margin-top: 21px;
  padding-bottom: 1px;
}
.icons {
  padding-top: 50px;
  text-align: center;
}
.link-image {
  margin-top: -5px;
  margin-right: 9px;
  padding-right: 0px;
  float: none;
}
.slide-arrow {
  border-radius: 5px;
  background-color: rgba(89, 89, 91, 0.36);
}
.right {
  right: -90px;
}
.left {
  left: -90px;
}
@media (max-width: 991px) {
  .align-right {
    padding-right: 10px;
  }
  .contact-link {
    padding-left: 29px;
  }
  .slider-main {
    height: 385px;
  }
  .right {
    right: -30px;
  }
  .left {
    left: -30px;
  }
}
@media (max-width: 767px) {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .header {
    height: auto;
    background-color: transparent;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .section {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .navigation {
    position: static;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.31);
    box-shadow: transparent 0px 0px 0px 1px;
    text-align: center;
  }
  .align-right {
    text-align: left;
  }
  .thumbnail {
    margin-right: 14px;
    margin-bottom: 15px;
  }
  .logo-link {
    text-align: center;
  }
  .contact-link {
    width: 100%;
    padding-bottom: 20px;
    padding-left: 0px;
    float: left;
  }
  .slider-main {
    height: 300px;
  }
  .icons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
  }
  .right {
    right: 0px;
  }
  .left {
    left: 0px;
  }
}
@media (max-width: 479px) {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .header {
    background-color: transparent;
  }
  .navigation {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.34);
  }
  .logo-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .contact-link {
    width: 100%;
    padding-bottom: 19px;
    padding-left: 0px;
    float: left;
  }
  .slide-link {
    height: 100%;
  }
  .slider-main {
    height: 170px;
  }
}

